@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<main>
    <section class="login-section">
        <div class="main-part">
            <div class="login col-lg-6 m-auto">
                <h2>Forgot Password</h2>
                <form  method="post">
                    <div>
                        <label asp-for="Email">Email<span class="star">*</span></label>
                        <input asp-for="Email" type="text" id="Email" placeholder="Enter your Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                 
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <button class="btn-login" type="submit">Reset Your Password</button>

                   
                </form>
            </div>

            <div class="col-lg-6">
                <div class="account-create text-center pt-5 ">
                    <div class="btn-wrapper">
                        <p style="color:red">If you don`t have an acount Please go to register!</p>
                        <a asp-action="register" asp-controller="account" class="btn btn-primary p-3">CREATE ACCOUNT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    



    
  

    <section class="scroll-section">
        <button type="button"
                class="btn btn-danger btn-floating btn-lg"
                id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </section>
</main>

