@model MemberLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<main>
    <section class="login-section">
        <div class="main-part">
            <div class="login col-lg-6 m-auto">
                <h2>Login</h2>
                <form action=""  method="post">
                    <div>
                        <label asp-for="UserName">Username<span class="star">*</span></label>
                        <input asp-for="UserName" type="text" id="UserName" placeholder="Enter your Username" />    
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>

                    <div>
                        <label asp-for="Password">Password <span class="star">*</span></label>
                        <input asp-for="Password" type="password" id="Password" placeholder="Enter your Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <button class="btn-login" type="submit">Log In</button>

                   

                    <a asp-action="ForgotPassword" asp-controller="Account">Forgot Your Password?</a>
                </form>
            </div>

            <div class="col-lg-6">
                <div class="account-create text-center pt-5 ">
                    <div class="btn-wrapper">
                        <p style="color:red">If you don`t have an acount Please go to register!</p>
                        <a asp-action="register" asp-controller="account" class="btn btn-primary p-3">CREATE ACCOUNT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-section">
        <div class="features d-flex">
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/world-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">World`s #1</p>
                    <p class="feature-second-p">Largest Auto Portal</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/car-sold-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Car sold</p>
                    <p class="feature-second-p">Every 4 minute</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/tag-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Offers</p>
                    <p class="feature-second-p">Stay updated pay less</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/compare-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Compare</p>
                    <p class="feature-second-p">Decode the right car</p>
                </div>
            </div>
        </div>
    </section>
   

    <section class="scroll-section">
        <button type="button"
                class="btn btn-danger btn-floating btn-lg"
                id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </section>
</main>

