@model MemberRegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<main>
    <section class="login-section">
        <div class="main-part">

            <div class="register col-6 m-auto">
                <h2>Register</h2>
                <form asp-action="Register" asp-controller="Account" method="post" enctype="multipart/form-data"> 
                    <div>
                        <label asp-for="FullName">Full Name <span class="star">*</span></label>
                        <input asp-for="FullName" type="text" id="FullName" placeholder="Enter your full name" />
                        <span class="text-danger" asp-validation-for="FullName"></span>
                    </div>

                    <div>
                        <label asp-for="UserName">UserName <span class="star">*</span></label>
                        <input asp-for="UserName" type="text" id="UserName"
                               placeholder="Enter your full name"/>
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>

                    <div>
                        <label asp-for="Email">Email address <span class="star">*</span></label>
                        <input asp-for="Email" type="email" id="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <label asp-for="Password">Password <span class="star">*</span></label>
                        <input asp-for="Password" type="password" id="password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword">Repeat Password <span class="star">*</span></label>
                        <input asp-for="ConfirmPassword" id="ConfirmPassword" placeholder="Repeat your password">
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div>
                        <label asp-for="FileImage">Profile Image</label>
                        <input asp-for="FileImage" class="form-control" placeholder="Image" style="width:50%">
                        <span class="text-danger" asp-validation-for="FileImage"></span>
                    </div>
                  

                    <button class="btn-register" type="submit">Register</button>
                </form>
            </div>
        </div>
    </section>

    <section class="features-section">
        <div class="features d-flex">
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/world-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">World`s #1</p>
                    <p class="feature-second-p">Largest Auto Portal</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/car-sold-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Car sold</p>
                    <p class="feature-second-p">Every 4 minute</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/tag-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Offers</p>
                    <p class="feature-second-p">Stay updated pay less</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/compare-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Compare</p>
                    <p class="feature-second-p">Decode the right car</p>
                </div>
            </div>
        </div>
    </section>
   

    <section class="scroll-section">
        <button type="button"
                class="btn btn-danger btn-floating btn-lg"
                id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </section>
</main>

