
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<main>
    <section class="login-section">
        <div class="main-part">
            <div class="login col-lg-6 m-auto">
                <h2>Reset Password</h2>
                <form  method="post">

                    <div>
                        <label asp-for="Password">Password <span class="star">*</span></label>
                        <input asp-for="Password" type="password" id="Password" placeholder="Enter your Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword">Confirm Password <span class="star">*</span></label>
                        <input asp-for="ConfirmPassword" type="password" id="Password" placeholder="Enter your Password" />
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <input type="hidden" name="Email" value="@Model.Email" />
                    <input type="hidden" name="Token" value="@Model.Token" />
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <button class="btn-login" type="submit">Reset</button>

                    
                </form>
            </div>

            
        </div>
    </section>

  
    <section class="scroll-section">
        <button type="button"
                class="btn btn-danger btn-floating btn-lg"
                id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </section>
</main>

