*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  .account {
    width: 95%;
    margin: auto;
    background-color: white;
    .tabs {
      display: flex;
      padding: 30px;

      width: 80%;
      margin: auto;

      .nav {
        margin-right: 10%;
        border: 1px solid #e5e5e5;
        .nav-item {
          .nav-link {
            margin-right: 0;
            color: black;
            display: flex;
            justify-content: space-between;
            i {
              margin-left: 4%;
              color: #5c727d;
            }
          }
          &:hover {
            .nav-link {
              color: red;
            }
          }
        }
        .nav-item.active {
          .nav-link {
            border: none;
            background-color: #333;
            color: #fff;
            i {
              color: #fff;
            }
          }
        }
      }
      .tab-content {
        background-color: #e5e5e5;
        height: max-content;
        padding: 10px;
        .active {
          padding: 3%;
        }

        table {
          width: 100%;
          margin-bottom: 1rem;
          color: #212529;
          vertical-align: top;
          thead {
            tr {
              border-bottom: 1px solid black;
              th {
                text-align: center;
              }
            }
          }
          tbody {
            padding: 10px;
            text-align: center;
            tr {
              td {
                padding: 10px;
              }
              .status {
                border-radius: 10px;
                margin-top: 3%;
                background-color: orange;
              }
            }
          }
        }
        .form-part {
          .form-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            input {
              width: 100%;
              padding: 10px;
              outline: none;
              border: 1px solid #e5e5e5;
            }
          }
          .password-changes {
            padding: 20px;
            h3 {
              text-transform: uppercase;
              color: #333;
              font-size: 18px;
              font-weight: 400;
              line-height: 1;
            }
            input {
              width: 100%;
              padding: 10px;
              outline: none;
              border: 1px solid #e5e5e5;
            }
            div {
              margin-top: 2%;
            }
          }
          .submit-btn {
            background-color: #ff5a3c;
            font-size: 16px;
            font-weight: 400;
            padding: 17px 40px;
            text-align: center;
            text-transform: uppercase;
            border: none;
            &:hover {
              background-color: green;
              color: white;
            }
          }
        }
      }
    }
  }

  .features-section {
    background-color: white;
    padding: 30px;
    .features {
      .feature-element {
        .feature-first-p {
          font-size: 26px;
          font-weight: 600;
          letter-spacing: 0.5px;
          color: #333;
          margin: 0px;
        }
        .feature-second-p {
          color: #999;
          padding: 0px;
          margin: 0px;
          padding-top: 3px;
        }
      }
    }
  }
  .newsletter-section {
    background: url(https://klbtheme.com/harrier/wp-content/uploads/2019/05/newsletter-bg.jpg);
    height: 300px;
    h5 {
      color: #fbe122;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: auto;
      padding-top: 30px;
      font-weight: 500;
      text-align: center;
      font-size: 26px;
    }
    h4 {
      margin-bottom: 23px;
      display: block;
      padding: 0px;
      font-family: "Saira Condensed", sans-serif;
      font-size: 30px;
      letter-spacing: 1px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
    }
    .form-elements {
      text-align: center;
      form {
        input {
          border: none;
          background: #fff;
          width: 30%;
          display: inline;
          color: #a7a7a7;
          line-height: 20px;
          background-color: #fff;
          outline: none;
          font-size: 14px;
          font-family: open sans, sans-serif;
          padding: 20px;
        }
        .subs-btn {
          background-color: yellow;
          color: black;
          padding: 19px 28px 20px 28px;
          cursor: pointer;
          font-weight: 500;
          font-size: 15px;
          text-transform: uppercase;
          border: none;
          &:hover {
            background-color: #333;
            color: white;
            .envelope {
              color: white;
            }
          }
        }
      }
    }
  }

  .scroll-section {
    #btn-back-to-top {
      position: fixed;
      bottom: 40px;
      right: 20px;
      display: none;
    }
  }
}
