
@{
    ViewData["Title"] = "Index";
}

<section class="error-section">
    <div class="error-img">
        <img src="~/assets/images/404-img.jpg" alt="" />
    </div>
    <div class="error-message">
        <a  class="btn btn-primary p-3" asp-action="Index" asp-controller="Home">Back To Home</a>
    </div>
</section>

