@model City
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Edit</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Name">Name</label>
                @*<input asp-for="Name" class="form-control" placeholder="Name">*@
                <select asp-for="Name">
                    <option value="@Model.Name">@Model.Name</option>
                </select>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="index" asp-controller="city" class="btn btn-warning">Back</a>
        </div>

    </form>
</div>

