
@{
    ViewData["Title"] = "AdvancedSearch";
}


<main>
    <section class="advanced-search">
        <h3>Advanced Search</h3>
        <form action="">
            <div class="search-product">
                <div class="left-side col-5">
                    <label for="" class="col-4">Marka</label>
                    <select class="sel-example form-control col-8" id="sel1">
                        <option value="0">Butun Markalar</option>
                        <option value="1">Acura</option>
                        <option value="2">Audi</option>
                        <option value="3">BMW</option>
                        <option value="4">Chevrolet</option>
                        <option value="5">Hyundai</option>
                        <option value="6">Kia</option>
                        <option value="7">Mazda</option>
                        <option value="8">Mercedes-Benz</option>
                        <option value="9">Nissan</option>
                        <option value="10">Toyota</option>
                    </select>
                </div>
                <div class="right-side col-5">
                    <label for="" class="col-4">City</label>
                    <select name="" id="" class="col-8 sel-example form-control">
                        <option value="">Baku</option>
                        <option value="">Sumqayit</option>
                        <option value="">Quba</option>
                        <option value="">Lenkeran</option>
                        <option value="">Siyezen</option>
                        <option value="">Kurdemir</option>
                        <option value="">Seki</option>
                    </select>
                </div>
            </div>
            <div class="search-product">
                <div class="left-side col-5">
                    <label for="" class="col-4">Model</label>
                    <select name="" id="sel2" class="sel-example form-control col-8">
                        <option value="">Butun Modeller</option>
                        <option data-val="1">CL</option>
                        <option data-val="1">IlX</option>
                        <option data-val="1">Ilx Hybrid</option>
                        <option data-val="1">Integra</option>
                        <option data-val="2">A3</option>
                        <option data-val="2">A5</option>
                        <option data-val="2">A7</option>
                        <option data-val="2">A8</option>
                        <option data-val="3">X1</option>
                        <option data-val="3">X3</option>
                        <option data-val="3">X5</option>
                        <option data-val="3">X6</option>
                        <option data-val="3">X7</option>
                        <option data-val="3">Z8</option>
                        <option data-val="4">Cruze</option>
                        <option data-val="4">Aveo</option>
                        <option data-val="4">Volt</option>
                        <option data-val="5">Elantra</option>
                        <option data-val="5">Sonata</option>
                        <option data-val="5">Tucson</option>
                        <option data-val="6">Sorento</option>
                        <option data-val="6">Optima</option>
                        <option data-val="6">Cerato</option>
                        <option data-val="7">CX-3</option>
                        <option data-val="7">CX-5</option>
                        <option data-val="7">Mazda5</option>
                        <option data-val="8">GL</option>
                        <option data-val="8">Sprinter</option>
                        <option data-val="8">E220</option>
                        <option data-val="9">Sunny</option>
                        <option data-val="9">X-Trail</option>
                        <option data-val="9">Altima</option>
                        <option data-val="10">Corolla</option>
                        <option data-val="10">Prado</option>
                        <option data-val="10">Land Cruiser</option>
                    </select>
                </div>
                <div class="right-side col-5">
                    <label for="" class="col-4">Yanacaq Novu</label>
                    <select name="" id="" class="col-8 sel-example form-control">
                        <option value="">Dizel</option>
                        <option value="">Benzin</option>
                        <option value="">Qaz</option>
                        <option value="">Elektro</option>
                        <option value="">Hibrid</option>
                    </select>
                </div>
            </div>
            <div class="search-product">
                <div class="left-side col-5">
                    <label for="" class="col-4">Ban Novu</label>
                    <select name="" class="sel-example form-control col-8">
                        <option value="">Butun tipler</option>
                        <option value="">Furqon</option>
                        <option value="">Hetcbek/Liftbek</option>
                        <option value="">Sedan</option>
                        <option value="">Universal</option>
                        <option value="">Yuk masini</option>
                        <option value="">Pikap</option>
                    </select>
                </div>
                <div class="right-side col-5">
                    <label for="" class="col-4">Oturucu</label>
                    <select name="" id="" class="col-8 sel-example form-control">
                        <option value="">Butun tipler</option>
                        <option value="">Arxa</option>
                        <option value="">On</option>
                        <option value="">Tam</option>
                    </select>
                </div>
            </div>
            <div class="search-product">
                <div class="left-side col-5">
                    <label for="" class="col-4">Reng</label>
                    <select name="" class="sel-example form-control col-8">
                        <option value="">Butun</option>
                        <option value="">Qara</option>
                        <option value="">Ag</option>
                        <option value="">Yas Asfalt</option>
                        <option value="">Qirmizi</option>
                        <option value="">Bej</option>
                        <option value="">Gumusu</option>
                    </select>
                </div>
                <div class="right-side col-5">
                    <label for="" class="col-4">Suretler Qutusu</label>
                    <select name="" id="" class="col-8 sel-example form-control">
                        <option value="">Butun</option>
                        <option value="">Mexaniki</option>
                        <option value="">Avtomat</option>
                        <option value="">Robot</option>
                        <option value="">Variator</option>
                    </select>
                </div>
            </div>
            <div class="search-product">
                <div class="left-side col-5">
                    <label for="" class="col-4">Yurus</label>
                    <div class="range col-8">
                        <label for="" class="col-2">min.</label>
                        <input type="text" class="col-4" />
                        <label for="" class="col-2">maks.</label>
                        <input type="text" class="col-4" />
                    </div>
                </div>
                <div class="right-side col-5">
                    <label for="" class="col-4">Buraxilis ili </label>
                    <div class="range col-8">
                        <label for="" class="col-2">min.</label>
                        <input type="text" class="col-4" />
                        <label for="" class="col-2">maks.</label>
                        <input type="text" class="col-4" />
                    </div>
                </div>
            </div>
            <div class="search-product">
                <div class="left-side col-5">
                    <label for="" class="col-4">Qiymet</label>
                    <div class="range col-8">
                        <label for="" class="col-2">min.</label>
                        <input type="text" class="col-4" />
                        <label for="" class="col-2">maks.</label>
                        <input type="text" class="col-4" />
                    </div>
                </div>
                <div class="right-side col-5">
                    <label for="" class="col-4">Muherrikin hecmi, sm3 </label>
                    <div class="range col-8">
                        <label for="" class="col-2">min.</label>
                        <input type="text" class="col-4" />
                        <label for="" class="col-2">maks.</label>
                        <input type="text" class="col-4" />
                    </div>
                </div>
            </div>
            <h4>Avtomobilin techizati</h4>
            <div class="car-tags">
                <div class="tag-item col-3">
                    <input type="checkbox" class="col-2" />
                    <label for="" class="col-6">Yungul lehimli diskler</label>
                </div>
                <div class="tag-item col-3">
                    <input type="checkbox" class="col-2" />
                    <label for="" class="col-6">ABS</label>
                </div>
                <div class="tag-item col-3">
                    <input type="checkbox" class="col-2" />
                    <label for="" class="col-6">Lyuk</label>
                </div>
                <div class="tag-item col-3">
                    <input type="checkbox" class="col-2" />
                    <label for="" class="col-6">Yagis sensoru</label>
                </div>
                <div class="tag-item col-3">
                    <input type="checkbox" class="col-2" />
                    <label for="" class="col-6">Merkezi Qapanma</label>
                </div>
                <div class="tag-item col-3">
                    <input type="checkbox" class="col-2" />
                    <label for="" class="col-6">Park radar</label>
                </div>
                <div class="tag-item col-3">
                    <input type="checkbox" class="col-2" />
                    <label for="" class="col-6">Kondisioner</label>
                </div>
                <div class="tag-item col-3">
                    <input type="checkbox" class="col-2" />
                    <label for="" class="col-6">Deri salon</label>
                </div>
            </div>
            <h4>Axtarisin neticeleri</h4>
            <div class="search-result">
                <div class="d-flex col-5">
                    <label for="" class="col-4">Cesidleme</label>
                    <select name="" id="" class="sel-example form-control col-6">
                        <option value="">Tarixe gore</option>
                        <option value="">Evvel Ucuz</option>
                        <option value="">Evvel bahali</option>
                        <option value="">Yurus</option>
                        <option value="">Buraxilis ili</option>
                    </select>
                </div>
                <div class="d-flex col-5">
                    <label for="" class="col-4">Avtomobilleri goster</label>
                    <select name="" id="" class="sel-example form-control col-6">
                        <option value="">Butun</option>
                        <option value="">Islenmis</option>
                        <option value="">Yeni</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="search-btn">Elanlari goster</button>
        </form>
    </section>

    <section class="features-section">
        <div class="features d-flex">
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/world-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">World`s #1</p>
                    <p class="feature-second-p">Largest Auto Portal</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/car-sold-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Car sold</p>
                    <p class="feature-second-p">Every 4 minute</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/tag-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Offers</p>
                    <p class="feature-second-p">Stay updated pay less</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/compare-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Compare</p>
                    <p class="feature-second-p">Decode the right car</p>
                </div>
            </div>
        </div>
    </section>
    <section class="newsletter-section">
        <h5>NEWSLETTER</h5>
        <h4>GET NOTIFIED OF ANY UPDATES!</h4>
        <div class="form-elements">
            <form action="email">
                <input type="email"
                       name="email"
                       placeholder="Your email address"
                       id="email" />
                <button type="submit" class="subs-btn">
                    <span><i class="bi bi-envelope-fill envelope"></i></span>
                    Subscribe
                </button>
            </form>
        </div>
    </section>
</main>
