
@{
    ViewData["Title"] = "Index";
}

<section class="error-section">
    <div class="error-img">
        <img src="~/assets/images/404-img.jpg" alt="" style="width:100%; height:450px"/>
    </div>
    <div class="error-message mt-3">
        <a class="btn btn-primary p-3" asp-action="Index" asp-controller="DashBoard">Back To DashBoard</a>
    </div>
</section>

