

@model SliderViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Edit</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="ImageFile">ImageFile</label>
                <input asp-for="ImageFile" class="form-control" placeholder="ImageFile">
                <span class="text-danger" asp-validation-for="ImageFile"></span>
            </div>
            <div class="img-box mt-5" style="display: inline-block; position: relative; margin-top:10px; margin-bottom:10px">
                <input type="hidden" asp-for="Image" value="@Model.Image" />
                <img style="max-width:100px" src="~/assets/images/@Model.Slider.Image" alt="Alternate Text" />
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="index" asp-controller="slider" class="btn btn-warning">Back</a>
        </div>

    </form>
</div>

