
@model SliderViewModel
@{
    ViewData["Title"] = "Index";
    int order = 0;
}

<div class="container" style="width:100%;">
    <div class="d-flex justify-content-between align-items-center" style="padding-top:50px; display:flex; justify-content:space-between; align-items:center">
        <div>
            <h1 class="col-6">Sliders</h1>

        </div>
        <div>
            <a asp-action="create" class="btn btn-primary col-6 ">Create</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var slider in Model.Sliders)
            {
                order++;
                <tr>
                    <th scope="row">@order</th>
                    <td><img src="~/assets/images/@slider.Image" style="max-width:100px" alt="Alternate Text" /></td>
                    <td>
                        <a asp-action="edit" asp-route-id="@slider.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="deletefetch" asp-route-id="@slider.Id" class="btn btn-danger btn-item-delete">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

