@model CarViewModel
@{
    ViewData["Title"] = "Cart";
    var totalPrice = 0;
}

<main>
    <section class="cart-section">
        <form action="" method="post">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Price</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model?.Cars)
                    {
                        <tr class="cart-item">
                            <td><img src="~/assets/images/@item.CarImages.FirstOrDefault(x=>x.IsPoster==true)?.Image" alt="" /></td>
                            <td>@item.Brand?.Name</td>
                            <td>£ @item.Price</td>
                            <td></td>
                            <td>
                                <a data-id="@item.Id" asp-action="Deletefavorites" asp-controller="Car" asp-route-id="@item.Id" class="deleteFav"><i class="far fa-trash-alt remove"></i></a>
                            </td>
                        </tr>
                        totalPrice += (int)item.Price;
                    }

                </tbody>
            </table>

            <div class="cart-totals">
                <h2>Cart Totals</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Total</th>
                            <td>£ @totalPrice </td>
                        </tr>
                    </tbody>
                </table>

                <div class="checkout">
                    <a asp-action="Checkout" asp-controller="Car"><i class="fas fa-check"></i>Proceed To Checkout</a>
                </div>
            </div>
        </form>
    </section>

    <section class="features-section">
        <div class="features d-flex">
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/world-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">World`s #1</p>
                    <p class="feature-second-p">Largest Auto Portal</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/car-sold-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Car sold</p>
                    <p class="feature-second-p">Every 4 minute</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/tag-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Offers</p>
                    <p class="feature-second-p">Stay updated pay less</p>
                </div>
            </div>
            <div class="feature-element col-3 d-flex justify-content-evenly">
                <div class="feature-icon">
                    <img src="~/assets/images/compare-icon.png" alt="" />
                </div>
                <div>
                    <p class="feature-first-p">Compare</p>
                    <p class="feature-second-p">Decode the right car</p>
                </div>
            </div>
        </div>
    </section>

   

    <section class="scroll-section">
        <button type="button"
                class="btn btn-danger btn-floating btn-lg"
                id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </section>
</main>

